# Dataset link :
https://www.kaggle.com/datasets/tarundalal/anime-quotes

# Quick consultation

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('AnimeQuotes.csv')

In [4]:
df.isnull().sum()

Quote        0
Character    0
Anime        1
dtype: int64

In [14]:
df[df.Anime.isnull()==True]

                                                Quote Character Anime
47  You should never give up on life, no matter ho...    Canaan   NaN

In [19]:
df.head()

,Quote,Character,Anime
0,"People’s lives don’t end when they die, it end...",Itachi Uchiha,Naruto
1,"If you don’t take risks, you can’t create a fu...",Monkey D Luffy,One Piece
2,"If you don’t like your destiny, don’t accept it.",Naruto Uzumaki,Naruto
3,"When you give up, that’s when the game ends.",Mitsuyoshi Anzai,Slam Dunk
4,All we can do is live until the day we die. Co...,Deneil Young,Uchuu Kyoudai or Space Brothers